.footer{
    background-color: rgb(241, 227, 227);
    display: flex;
    justify-content: space-around;
}

.footer-data{
    border: 0.0625em solid #6227dc;
    border-radius: 0.3em;
    width: 100%;
    margin: 0.2em;
    padding-left: 0.5em;
}

.footer-data h4{
    color: #6227dc;
    text-align: center;
    padding: 0.5em;
}

.footer-data.grupo p {
    text-align: start;  
    padding: 0.7em 0.5em;
}

.footer-data.menu a{
    text-decoration: none;
    text-align: start;
    padding: 0.7em;
}

.footer-data .iconos {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    gap: 1em;
}

.footer-data .iconos a {
    flex: 1 1 30%; 
    display: flex;
    padding-top: 1em;
    justify-content: center;
}


.footer-data .iconos img {
    width: 3.2em;
    height: 3.2em;
}

@media screen and (max-width: 60em) {
    .footer-data .iconos img {
        width: 2.5em;
        height: 2.5em;
    }

    .footer-data.grupo p {
        font-size: 0.9em;
        padding: 0.5em;
    }

    .footer-data.menu a {
        padding: 0.5em;
    }

    .footer-data.menu a p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 48em) {
    .footer-data .iconos img {
        width: 1.8em;
        height: 1.8em;
    }

    .footer-data.grupo p {
        font-size: 0.7em;
    }

    .footer-data.menu a p {
        font-size: 0.7em;
    }

    .footer-data .iconos a {
        flex: 1 1 45%;
    }
}

@media screen and (max-width: 30em) {
    .footer-data .iconos img {
        width: 1.2em;
        height: 1.2em;
    }

    .footer-data.grupo p {
        font-size: 0.6em;
    }

    .footer-data.menu a {
        padding: 0.3em;
    }

    .footer-data.menu a p {
        font-size: 0.6em;
    }
}