.forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 1em;
    font-family: "Roboto", sans-serif;
}

.forms-header {
    padding-bottom: 1.5em; 
}

.forms-header h2{
    padding-bottom: 0.5em;
    font-size: 2em;
}

.forms-header h3{
    font-size: 1.5em;
}

.forms form {
    margin-bottom: 1.5em;
    font-size: 1em;
}

.forms-add {
    display: flex;
    align-items: center;
    gap: 0.5em; 
    margin: 2em 0; 
}

.forms-enrollment-amount {
    display: flex;
    gap: 0.5em; 
    align-items: center;
}

.forms-enrollment-amount h3{
    color: rgb(252, 252, 252);
    background-color: black;
    border-radius: 0.3em;
}

button{
    width: 10em;
    font-weight: 700;
    padding: 0.5em;
    border-radius: 999px;
    color: #6227dc;
    border: 0.06em solid #6227dc;
    background-color: white;
}

.forms-enrollment-amount .inscription:hover {
    color: white;
    background-color:#6227dc ;
}

dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-self: center;
    border: 0.06em solid #6227dc;
    border-radius: 0.63em;
    padding: 2em;
}
#js-CloseDialog{
    margin-top: 1em;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #8269f1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 2em 0;
    letter-spacing: 0.06em;
}

@media screen and (max-width: 32.25em){
    .forms form label{
        display: flex;
        flex-direction: column;
    }
}
