@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.headerC {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8em;
    padding: 1em 5%;
}

.headerC .logo, 
.headerC .shoppingCart {
    cursor: pointer;
}

.logo {
    display: inline-flex;
    align-items: center;
    font-size: 1.2em;
    gap: 0.5em; 
}

.headerC .logo img {
    border: #1b093f;
    border-radius: 50%;
    height: 5em;
    width: auto;
    transition: all 0.3s;
}

.headerC .shoppingCart {
    position: relative;
    display: inline-block;
}

.headerC .shoppingCart img {
    height: 2em;
    width: auto;
    transition: all 0.3s;
}

.headerC .shoppingCart p {
    position: absolute;
    top: 2em;
    left: -0.8em;
    font-size: 0.7em;
    background: #8269F1;
    color: white;
    font-weight: bold;
    padding: 0.125em 0.375em;
    border-radius: 50%; 
    line-height: 1;
}

.headerC .logo img:hover, 
.headerC .shoppingCart img:hover {
    transform: scale(1.2);
}

.headerC .nav-links {
    list-style: none;
}

.headerC .nav-links li {
    display: inline-block;
    padding: 0 1.5em;
    transition: transform 0.2s;
}

.headerC .nav-links li:hover {
    transform: scale(1.2);
}

.logo a {
    color: black !important;
    text-decoration: none !important;
}

.headerC .nav-links a {
    font-weight: 700 !important;
    color: black !important;
    text-decoration: none !important;
}

.headerC .nav-links li a:hover {
    color: #8269F1 !important;
}

.headerC .right-side {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

/* Botón Iniciar Sesión */
.headerC .login button {
    all: unset;
    color: #6227dc !important;
    border: 2px solid #6227dc !important;
    background-color: white !important;
    padding: 0.5em 1em !important;
    border-radius: 999px !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    font-family: "Roboto", sans-serif !important;
    text-align: center !important;
}

/* Botón Registrarse */
.headerC .register button {
    all: unset;
    color: white !important;
    border: 2px solid #6227dc !important;
    background-color: #6227dc !important;
    padding: 0.5em 1em !important;
    border-radius: 999px !important;
    font-weight: 700 !important;
    cursor: pointer !important;
    font-family: "Roboto", sans-serif !important;
    text-align: center !important;
}

.headerline {
    height: 0.2em;
    background-color: #6227dc;
    border: none;
    opacity: 0.2;
}

/* Responsive */
@media (max-width: 700px) {
    .headerC {
        flex-direction: column;
    }
    .headerC nav {
        padding: 10px 0;
    }
    .headerC .nav-links li {
        display: block;
        padding: 0.5em 0;
        text-align: center;
    }
}