@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 1em;

}

.headerC {
    
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8em;
    padding: 1em 5%;
}

.headerC .logo, .headerC .shoppingCart {
    cursor: pointer;
    
}

.logo{
    display:inline-flex;
    align-items:center ;
    font-size: 1.2em;
    gap: 0.5em;
   
    
}

.headerC .logo img {
    border: #1b093f;
    border-radius: 50%;
    height: 5em;
    width: auto;
    transition: all 0.3s;
    
}

.headerC .shoppingCart img{
    height: 2em;
    width: auto;
    transition: all 0.3s;
}

.headerC .logo img:hover , .headerC .shoppingCart img:hover{
    transform: scale(1.2);
}

.headerC .nav-links{
    list-style: none;
}

.headerC .nav-links li{
    display: inline-block;
    padding: 0 1.5em;
}

.headerC .nav-links li:hover{
    transform: scale(1.2);
}

.logo a{
    color: black;
    text-decoration: none;
    
}

.headerC .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

.headerC .nav-links li a:hover{
    color:#8269F1 ;
}
.headerC .right-side{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.right-side .login button , .right-side .register button{
    
    font-weight: 700;
    padding: 0.5em;
    border-radius: 999px;
   
}

.headerC .login button{
    color: #6227dc;
    border-color: #6227dc;
    background-color: white;
    
}

.headerC .register button{
    color: white;
    border-color: #6227dc;
    background-color: #6227dc;
    
}

.headerline{
    
    height: 0.2em;
    background-color:#6227dc;
    border: none;
    opacity: 0.2;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding:  10px 0px;
    }
}
