
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Satoshi-Bold, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.iniciar-sesion {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.iniciar-sesion .logo {
    display: block;
    width: 12.5em; 
    height: auto;
    margin: 0 auto;
}

.iniciar-sesion h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #6227dc;
}

.iniciar-sesion .formulario-iniciar-sesion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.iniciar-sesion .formulario-iniciar-sesion input {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 1.5em;
    border: 0.06em solid #6227dc; 
    border-radius: 0.63em;
    margin: 0 auto;
    font-size: 1rem;
}

.recordarme-contrasena{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.recordarme {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.recordarme input{
    width: 1.3em;
}

.btn {
    height: 3.25rem;
    border-radius: 0.625rem;
    font-size: 1.5rem;
    background-color: #6227dc;
    color: white;
    border: 0;
}

.btn:hover{
    background-color: #8051dc;
    cursor: pointer;
}

.crear-cuenta {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.volver-al-inicio {
    display: inline-block;
    margin-left: auto;
}

@media screen and (max-width: 60em) {
    .iniciar-sesion {
        width: 35%;
        margin: 1em auto;
    }

    .iniciar-sesion .logo {
        width: 10em;
    }

    .iniciar-sesion h1 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 48em) {
    .iniciar-sesion {
        width: 50%;
    }

    .crear-cuenta {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }

    .volver-al-inicio {
        margin-left: 0;
        order: 2; 
    }
}

@media screen and (max-width: 30em) {
    .iniciar-sesion {
        width: 90%;
        margin: 0.5em auto;
    }

    .iniciar-sesion h1 {
        font-size: 1.5rem;
    }

    .recordarme-contrasena {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }

    .recordarme-contrasena a {
        order: 2;
    }
}
