h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #8269f1;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2em 0;
    letter-spacing: 1px;
}
.inscripcion{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:rgb(44, 46, 50);
    text-transform: uppercase;
    margin: 2em 0 2em 7.5em;
}
section{
    width: 80%;
    margin: 5% 10% 10% 10%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 80%;
    margin: 0 10%;
}
form input{
    display: block;
    width: 100%;
    height: 2rem;
    padding: 1.5em;
    border: 1px solid #6227dc;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 1rem;
}
.datos_alumno{
    display: flex;
    justify-content: space-around; 
}
.boton_circular{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    color: black;
    font-size: larger;
    border-color: #6227dc;
    background-color: #eaebff;
}
.datos_confirmacion{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin: 2em 0em;
}
.Importe_acumulado{
    width: 5em;
    background-color: #6227dc;
    color: #eaebff;
    font-size: 1.5em;
}
.boton_inscripcion{

    width: 10em;
    font-weight: 700;
    padding: 0.5em;
    border-radius: 999px;
    color: #6227dc;
    border-color: #6227dc;
    background-color: white;
}
@media screen and (width < 600px){


    .datos_alumno{
        display: block;
    }
    

}