.paginaCursos {
  display: flex;
  gap: 1.25em;
  margin: 2em auto;
  max-width: 87.5em;
}

.sidebar {
  flex: 0 0 15.625em;
  background: #f8f9fa;
  padding: 1.25em;
  border-radius: 0.625em;
  box-shadow: 0 0.125em 0.375em rgba(0,0,0,0.1);
  /*Fijo*/
  position: sticky;
  top: 6.25em; /*Distancia hacia arriba*/
  align-self: flex-start;
  height: fit-content;
}

.sidebar h3 {
  font-size: 1.125em;
  margin-bottom: 0.9375em;
  color: #6227dc;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 0.625em;
  font-size: 0.9375em;
}

.contenido-cursos {
  flex: 1;
}

.tituloCursos {
  text-align: center;
  margin-bottom: 1em;
  color: #6227dc;
}

.cajasCursosRecomendados {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
  gap: 1.875em;
}

@media screen and (max-width: 60em) {
  .paginaCursos {
    flex-direction: column;
    gap: 1em;
    margin: 1em auto;
  }

  .sidebar {
    flex: 1 1 auto;
    width: 100%;
    top: 0;
    margin-bottom: 1em;
  }

  .cajasCursosRecomendados {
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    gap: 1em;
  }
}

@media screen and (max-width: 48em) {
  .sidebar h3 {
    font-size: 1em;
  }

  .sidebar ul li {
    font-size: 0.9375em;
  }
}

@media screen and (max-width: 37.5em) {
  .cajasCursosRecomendados {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}


@media screen and (max-width: 26.5625em) { 
  .paginaCursos {
    flex-direction: column;
    gap: 2em;
  }

  .sidebar {
    position: static;
    width: 100%;
    top: auto;
    z-index: auto;
  }

  .cajasCursosRecomendados {
    grid-template-columns: 1fr;
    gap: 1.25em; 
  }
}
