* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Satoshi-Bold, sans-serif;
}

.perfil {
    display: grid;
    grid-template-columns: 20% 79%;
    grid-template-rows: auto;
    grid-gap: 0.625em;
    width: 80%;
    margin: 0 auto;
}

.perfil .descripcion {
    grid-column: 1;
    grid-row: 1;
    display: block;
    margin-top: 2rem;
    width: 100%;
    border-radius: 0.625em;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
}

.perfil .descripcion img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.perfil .descripcion p {
    text-align: center;
    margin: 0.625em 0;
    color: #6227dc;
}

.perfil .descripcion .enviar-giftcard {
    display: block;
    width: 80%;
    height: 3.25em;
    padding: 0.4em;
    margin: 0.625em auto 1em auto;
    border-radius: 0.625em;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    background-color: #6227dc;
    color: white;
    border: 0;
}

.perfil .descripcion .enviar-giftcard:hover {
    background-color: #8051dc;
    cursor: pointer;
}

.perfil .descripcion .usuario {
    font-size: 2.5em;
}

.perfil .mis-cursos {
    grid-column: 2;
    grid-row: 1;
    display: block;
    margin-top: 2rem;
    width: 100%;
    border-radius: 0.625em;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
}

.perfil .mis-cursos h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 3.125em;
    color: #6227dc;
}

.perfil .mis-cursos .mis-cursos-grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.625em;
    width: 90%;
    margin: 2rem auto;
}

.perfil .cursos-recomendados {
    grid-column: 1/3;
    grid-row: 2;
    width: 100%;
    margin: 0 auto;
    border-radius: 0.625em;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.1);
}

.perfil .cursos-recomendados h2 {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 2.1875em;
    color: #6227dc;
}

.perfil .cursos-recomendados .cursos-recomendados-grilla {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625em;
    width: 90%;
    margin: 2rem auto;
}

.cursos-contenedor {
    border: 0.125em solid #8269f1;
    border-radius: 0.625em;
    overflow: hidden;
    margin: 1em;
    padding-bottom: 6.5em;
    width: 100%;
    max-width: 20em;
    box-shadow: 0 0.25em 0.625em rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
}

.cursos-contenedor .imagenCurso {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.cursos-contenedor .precio {
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 0.125em 0.3125em;
    position: absolute;
    top: 11.7em;
    right: 0;
}

.cursos-contenedor .duracion {
    font-size: 1em;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 12em;
    left: 0.3125em;
}

.cursos-contenedor .tituloCurso {
    font-size: 0.95em;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 14.35em;
    right: 0.3125em;
}

.cursos-contenedor .verMas {
    font-size: 0.9em;
    color: gray;
    margin: 0.3125em 0;
    cursor: pointer;
    position: absolute;
    top: 16.6875em;
    right: 0.3125em;
}

.cursos-contenedor .verMas:active {
    transform: scale(0.95);
}

.cursos-contenedor .verMas:hover {
    transform: scale(1.05);
}

.cursos-contenedor .comprar {
    font-size: 1em;
    font-weight: bold;
    background: linear-gradient(135deg, #6c63ff, #3f3d9f);
    color: white;
    border: none;
    padding: 0.375em 0.625em;
    border-radius: 0.5em;
    cursor: pointer;
    position: absolute;
    top: 16.875em;
    right: 0.3125em;
}

.cursos-contenedor .comprar:hover {
    background: linear-gradient(135deg, #3f3d9f, #6c63ff);
    transform: scale(1.05);
}

.cursos-contenedor .comprar:active {
    transform: scale(0.95);
}

@media screen and (max-width:1600px ) and
(min-width: 1440px) {
.cursos-contenedor .precio {
    top: 12em;
}
.cursos-contenedor .verMas {
    top: 16em;
}
.cursos-contenedor .comprar {
top: 16em;
}
}

@media screen and (max-width: 1024px) and (min-width: 779px) {

.cursos-contenedor .precio {
    top: 7.5em;
}
.cursos-contenedor .duracion {
    top: 8.5em;
    font-size: 0.9em;
}
.cursos-contenedor .tituloCurso {
    font-size: 0.6em;
    top: 15em;;
}
.cursos-contenedor .verMas {
    top: 11em;
}

.cursos-contenedor .comprar {
    top: 11.5em;
    
}
}

@media screen and (max-width: 60em) {
    .perfil {
        width: 90%;
        grid-template-columns: 25% 74%;
    }

    .perfil .descripcion .enviar-giftcard {
        width: 90%;
        font-size: 1.25rem;
    }

    .perfil .mis-cursos h1 {
        font-size: 2.5em;
    }

    .perfil .cursos-recomendados h2 {
        font-size: 1.3em;
    }

    .cursos-contenedor .precio {
    
    padding: 0.125em 0.3125em;
    position: absolute;
    top: 11.8em;
    right: 0;
    }

  
}



@media screen and (max-width: 48em) {
    .perfil {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: 95%;
    }

    .perfil .descripcion, .perfil .mis-cursos, .perfil .cursos-recomendados {
        margin-top: 1em;
    }

    .perfil .descripcion .enviar-giftcard {
        width: 100%;
    }

    .perfil .mis-cursos .mis-cursos-grilla {
        grid-template-columns: repeat(2, 1fr);
    }

    .perfil .cursos-recomendados .cursos-recomendados-grilla {
        grid-template-columns: repeat(2, 1fr);
    }

    .cursos-contenedor .duracion{
        font-size: 0.9em;
        top: 12em;
    }
}

@media screen and (max-width: 30em) {
    .perfil {
        display: block ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: 100%;
    }

    .perfil .descripcion .usuario {
        font-size: 1.5em;
    }

    .perfil .descripcion img {
    display: flex;
    justify-self: center;
    width: 80%;
    }

    .perfil .descripcion .enviar-giftcard {
        font-size: 1rem;
        height: 3em;
    }

    .perfil .mis-cursos h1 {
        font-size: 2em;
    }

    .perfil .mis-cursos .mis-cursos-grilla,
    .perfil .cursos-recomendados .cursos-recomendados-grilla {
        grid-template-columns: 1fr;
    }

    .cursos-contenedor {
        max-width: 100%;
        padding-bottom: 5em;
    }

    .cursos-contenedor .precio,
    .cursos-contenedor .duracion,
    .cursos-contenedor .tituloCurso,
    .cursos-contenedor .verMas,
    .cursos-contenedor .comprar {
        position: static;
        margin: 0.25em 0;
    }

    .cursos-contenedor .comprar {
         width: 50%;
    }
}