* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Satoshi-Bold, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}

.recuperar-contrasenia {
    display: block;
    width: 25%;
    height: auto;
    margin: 0 auto;
}

.recuperar-contrasenia .logo {
    display: block;
    width: 12.5em;
    height: auto;
    margin: 0 auto;
}

.recuperar-contrasenia h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #6227dc;
}

.recuperar-contrasenia .formulario-recuperar-contrasenia {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.recuperar-contrasenia .formulario-recuperar-contrasenia input {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 1.5em;
    border: 0.06em solid #6227dc;
    border-radius: 0.63em;
    margin: 0 auto;
    font-size: 1rem;
}

.recuperar-contrasenia .formulario-recuperar-contrasenia .btn {
    height: 3.25rem;
    border-radius: 0.625rem;
    font-size: 1.5rem;
    background-color: #6227dc;
    color: white;
    border: 0;
}

.recuperar-contrasenia .formulario-recuperar-contrasenia .btn:hover {
    background-color: #8051dc;
    cursor: pointer;
}

.recuperar-contrasenia .formulario-recuperar-contrasenia .volver {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

@media screen and (max-width: 60em) {
    .recuperar-contrasenia {
        width: 35%;
    }

    .recuperar-contrasenia .logo {
        width: 10em;
    }

    .recuperar-contrasenia h1 {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 48em) {
    .recuperar-contrasenia {
        width: 50%;
    }

    .recuperar-contrasenia .formulario-recuperar-contrasenia .volver {
        flex-direction: column;
        gap: 0.5em;
        align-items: flex-start;
    }
}

@media screen and (max-width: 30em) {
    .recuperar-contrasenia {
        width: 90%;
        margin: 0.5em auto;
    }

    .recuperar-contrasenia h1 {
        font-size: 1.5rem;
    }

    .recuperar-contrasenia .formulario-recuperar-contrasenia input {
        font-size: 0.9rem;
        padding: 1em;
    }

    .recuperar-contrasenia .formulario-recuperar-contrasenia .btn {
        font-size: 1.2rem;
        height: 3em;
    }
}
